---
layout: page
title: Contact Us
permalink: /contact/
image:
coordies:
  "Aayush Anand":
    number: 88510 70814
    mail: aayusha23@iitk.ac.in
    insta_id: aayush.anandx
    github: aayush01x
    image: aayush.jpg
    fb: ""
    linkedin: aayush-anand-043756203

  "Himanshu Sharma":
    number: 99996 33455
    mail: himans23@iitk.ac.in
    insta_id: sh_hi.man.shu
    github: BlakkTyger
    image: himanshu.jpg
    fb: ""
    linkedin: himanshu-sharma-152282217

  "Kshitij Gupta":
    number: 9897605316
    mail: kshitijg23@iitk.ac.in
    insta_id: kshitij._.gupta._
    github: Kshitijg18
    image: kshitij.jpg
    fb: ""
    linkedin: kshitij-gupta-a85133290

  "Manas Jain Kuniya":
    number: 8003354169
    mail: manasjain23@iitk.ac.in
    insta_id: this_is_mjk
    github: this-is-mjk
    image: manas-jain-kuniya.jpg
    fb: ""
    linkedin: this_is_mjk
  
LSTMs:

  "Soham Panchal":
    number: 98251 65377
    mail: sohamgp23@iitk.ac.in
    insta_id: starvis_05
    github: Sohamp05
    image: soham.jpg
    fb: ""
    linkedin: soham-panchal-94725727b?  

secys:
  "Abhinav Raj":
    hall: 2
    mail: abhinavraj24@iitk.ac.in
    number: 8969868737
    insta_id: abhinav_raj_06
    github: abhinav066977

  "Abubakar Siddique":
    hall: 5
    mail: abubakars24@iitk.ac.in
    number: 7073656967
    insta_id: reverse_flash81
    github: AbuSid2007

  "Aditya Sai":
    hall: 2
    mail: adityasv24@iitk.ac.in
    number: 6302848456
    insta_id: aditya_sv15
    github: kingpsi15

  "Anany Rai":
    hall: 3
    mail: ananyk24@iitk.ac.in
    number: 9870401439
    insta_id: me_singularity
    github: Singularityy0

  "Arman Singhal":
    hall: 5
    mail: armans24@iitk.ac.in
    number: 6364025842
    insta_id: arm4n76
    github: Chwiz67

  "Arnab Datta":
    hall: 12
    mail: arnabd24@iitk.ac.in
    number: 9007759193
    insta_id: 24arnab
    github: DattaArnab

  "Ashish Gautam":
    hall: 5
    mail: ashishu24@iitk.ac.in
    number: 8955774719
    insta_id: coral_ashg
    github: booker-de-witt

  "Austin Shijo":
    hall: 5
    mail: austins24@iitk.ac.in
    number: 8946061070
    insta_id: ""
    github: mTvare6

  "Jagrav Garg":
    hall: 3
    mail: jagravg24@iitk.ac.in
    number: 7988012612
    insta_id: jaguar_garg
    github: Jagrav-Garg

  "Jithin J Joshi":
    hall: 5
    mail: jithinj24@iitk.ac.in
    number: 9072353215
    insta_id: jithinjoshi7
    github: mrjithin

  "Ketan":
    hall: 5
    mail: ketanlal24@iitk.ac.in
    number: 9610407327
    insta_id: ketan__aggarwal
    github: Ketan-Agarwal

  "Muragesh Nyamagoud":
    hall: 5
    mail: muragesh24@iitk.ac.in
    number: 9353466456
    insta_id: iam.muragesh
    github: muragesh-24

  "Parth Patil":
    hall: 5
    mail: parthnp24@iitk.ac.in
    number: 9834453746
    insta_id: parth_2412_
    github: Parth-2412

  "Ritika Batra":
    hall: 6
    mail: ritikab24@iitk.ac.in
    number: 9528477602
    insta_id: ""
    github: ritgit24

  "Shivam Sah":
    hall: 12
    mail: shivamsah24@iitk.ac.in
    number: 9315060115
    insta_id: shivamsah_13
    github: shivam-0806

  "Shivang":
    hall: 2
    mail: shivangd24@iitk.ac.in
    number: 6378497030
    insta_id: _shivang019_iitk28
    github: Shivangtg

  "Shivansh Jaiswal":
    hall: 2
    mail: shivanshj24@iitk.ac.in
    number: 9971104638
    insta_id: sjais1337
    github: sjais1337
  
  "Shreyansh Rastogi":
    hall: 12
    mail: shreyanshr24@iitk.ac.in
    number: 7459094300
    insta_id: shreyanshrastogi23
    github: Shreyansh1206

  "Sujal Satish Motagi":
    hall: 12
    mail: sujalsm24@iitk.ac.in
    number: 7349439500
    insta_id: bakajal_2
    github: Sujal1234

  "Suvan Arora":
    hall: 5
    mail: suvan24@iitk.ac.in
    number: 9779564566
    insta_id: aroraasuuvan
    github: syntaxking-7

  "Taran Mohta":
    hall: 5
    mail: taranm24@iitk.ac.in
    number: 7977152322
    insta_id: ""
    github: tremendous1712

  "Vishu Khare":
    hall: 3
    mail: vishuk24@iitk.ac.in
    number: 8368600051
    insta_id: vishukhare3444
    github: rocketpowerkille

  "Yatin Preetam Bhojwani":
    hall: 3
    mail: yatinb24@iitk.ac.in
    number: 9322741860
    insta_id: _yatinn._
    github: yatin-bhojwani

  "Yuvraj Singh Nirban":
    hall: 3
    mail: yuvraj24@iitk.ac.in
    number: 9829733086
    insta_id: ""
    github: NovaPrime2077

excoordies:
  "2024 - 25":
    "Burhanuddin Merchant":
      number: 8815992866
      mail: bmerchant22@iitk.ac.in
      insta_id: merchant_burhanuddin53
      github: bmerchant22
      image: burhan.jpg
      fb: ""
      linkedin: burhanuddin-merchant-23622a254

    "Divyansh Garg":
      number: 9818970175
      mail: divyanshg22@iitk.ac.in
      insta_id: _divyansh._.garg
      github: hash-brow
      image: divyansh.jpg
      fb: ""
      linkedin: divyansh-garg-780a94252

    "Hardik Jindal":
      number: 9582890169
      mail: hardikj22@iitk.ac.in
      insta_id: hardikj_1408
      github: hardik1408
      image: hardik.jpg
      fb: ""
      linkedin: hardik-jindal-1a2176250

    "Yash Pratap Singh":
      number: 7007519537
      mail: yashps22@iitk.ac.in
      insta_id: yps_8181
      github: its-me-yps
      image: yashps.png
      fb: ""
      linkedin: its-me-yps

  "2023 - 24":
    "Devansh Jain":
      number: 9464327218
      mail: jdevansh21@iitk.ac.in
      github: devansh-jain-2002
      image: devansh.jpg
      insta_id: d_j_yo
      fb: ""
      linkedin: devansh-jain-iitk

    "Pratham Sahu":
      number: 7619678791
      mail: spratham21@iitk.ac.in
      github: prathamsahu52
      image: pratham.jpg
      insta_id: oneprathamsahu
      fb: ""
      linkedin: pratham-sahu-39500b223

    "Rahul Jha":
      number: 8700367670
      mail: rahulj21@iitk.ac.in
      github: juggernautjha
      image: jha.jpg
      insta_id: ""
      fb: ""
      linkedin: juggernautjha

    "Ridin Datta":
      number: 7439079526
      mail: ridind21@iitk.ac.in
      github: rhydberg
      image: ridin.jpg
      insta_id: rhydburgerr
      fb: ""
      linkedin: ridin-datta-932697226

  "2022 - 23":
    "Het Patel":
      number: 9825688226
      mail: hetpatel20@iitk.ac.in
      github: wiredinhp
      image: hetp.jpg
      fb: wiredinhp
      linkedin: wiredinhp
      insta_id: hetpatel1705
      body: |
        Application Developer Internship at Oracle 2023.
    "Parinay Chauhan":
      number: 9264933530
      mail: parinayc20@iitk.ac.in
      github: parinayc20
      image: parinay.jpg
      fb: parinay.chauhan.1
      linkedin: parinaychauhan
      insta_id: parinay_chauhan
      body: |
        System Engineer Internship at Quadeye 2023.
    "Prem Bharwani":
      number: 7715007558
      mail: premr20@iitk.ac.in
      github: PremBharwani
      image: prem.jpg
      fb: bharwaniprem
      linkedin: prem-bharwani
      insta_id: prem.bharwani
      body: |
        Natural Language Processing Engineer at Counsello AI 2023.
        Application Engineer Internship at Oracle 2023.
    "Shivam Mishra":
      number: 8604397668
      mail: mshivam20@iitk.ac.in
      github: 7shivamx
      image: shivam.jpg
      fb: 7shivamx
      linkedin: thealgosniper
      insta_id: 7shivam.mishra
      body: |
        Quantitative Research Consultant WorldQuant.
        Software Engineer Intern, Research Intern at Microsoft 2023.
        Developer at The Linux Foundation 2022-23.

  "2021 - 22":
    "Atharv Singh Patlan":
      mail: atharvsp@iitk.ac.in
      github: AthaSSiN
      image: atharv.jpg
      linkedin: atharvsp
      insta_id: i.aspx
      body: |
        Quantitative Researcher 2023-24.
        Research Assistant NUS 2022-23.
        Intern at D.E. Shaw summer 2022, NetherMind 2022.
    "Kartikeya Gupta":
      mail: gkartik@iitk.ac.in
      github: kartikcode
      image: kartikeya.jpg
      linkedin: kartikgupta2001
      insta_id: _ikartikeya_
      body: |
        Graduate Mechanical Engineer at Jaguar Land Rover.
        Engineering Graduate Intern at Jaguar Land Rover 2022.
    "Naman Gupta":
      mail: namangup@iitk.ac.in
      github: namangup
      image: naman.jpg
      linkedin: namangup
      insta_id: naman.gpt
      body: |
        Quant Strategist at Quadeye.
        Quant Research Intern in summer 2022.
    "Som Tambe":
      mail: somvt@iitk.ac.in
      github: SomTambe
      image: som.jpg
      linkedin: somvt
      insta_id: som.tambe
      body: |
        MS in Industrial and Product Design at PoliMi.
        Summer of Code Intern Julia 2021.

  "2020 - 21":
    "Deepankur Kansal":
      mail: deepank@iitk.ac.in
      github: DeepankurK
      image: deepankur.jpg
      linkedin: deepankurk
      insta_id: deepankur_k
      body: |
        Founder RozReturns.
        Co-Founder Azamate.
        Intern at JPMorgan 2021, WANNA 2020, PyMaths 2019.
    "Nilay Majorwar":
      mail: majorwar@iitk.ac.in
      github: NilayMajorwar
      image: nilay.jpg
      linkedin: nilay-majorwar-96135417a
      insta_id:
      body: |
        Software Engineer at Quadeye 2+ years.
        Software Engineer Intern at Zomato 2021.
        Completed GSOC under GDevelop 2020.
    "Nirmal Suthar":
      mail: nirmalps@iitk.ac.in
      github: nirmal-suthar
      image: nirmal.jpg
      linkedin: nirmal-suthar
      insta_id: nirmal.suthar_
      body: |
        Analyst, Trading Systems at AlphaGrep 2+years.
        Software Engineer Intern at Microsoft 2021,2022.
        Data Science Intern ShareChat 2021-22.
    "Priydarshi Singh":
      mail: darshi@iitk.ac.in
      github: dryairship
      image: priydarshi.jpg
      linkedin: dryairship
      insta_id: dryairship
      body: |
        Software Engineer at IMC Trading.
        Software Engineer at Optiver 2022-24.
        Software Engineering Intern at Foyer 2022, Amazon 2021.

  "2019 - 20":
    "Aditya Gulati":
      mail: aditg@iitk.ac.in
      github: ditttu
      image: adityagulati.jpg
      linkedin: aditya-gulati-b80a9a15b
      insta_id:
      body: |
        Research Fellow at UCSB 2020, 2021-22.
        Security Intern at H4U 2021.
        Backend Development Intern at New York Office IITK 2018.
    "Anish Saxena":
      mail: anishs@iitk.ac.in
      github: Anish-Saxena
      image: anishsaxena.jpg
      linkedin: anish-saxena
      insta_id:
      body: |
        Research Intern at NVIDIA 2024, AMD 2023, Micron 2022.
        PhD in CS at Georgia Tech.
        HPC GPU Advocate Intern NVIDIA in summer 2021.
        Architecture Research Intern at Intel Labs in summer 2020.
    "Kushagra Gupta":
      mail: kushgpt@iitk.ac.in
      github: kushagragpt99
      image: kushagragupta.jpg
      linkedin: kushagragupta99
      insta_id:
      body: |
        Machine Learning Engineer at Cadence.
        Data Scientist Nissan 2022-23.
        Data Scientist Internship at Google in Summer 2022.
        Data Science Researcher World Bank 2021-22.
    "Yugesh Kothari":
      mail: yugeshk@iitk.ac.in
      github: yugeshk
      image: yugeshkothari.jpg
      linkedin: yugeshkothari
      insta_id:
      body: |
        Doctoral Student at EPFL, Switzerland.
        Founding Member Stealth AI. Self Employed.
        Lead Technical Consultant at PeakMind 2021-23.

  "2018 - 19":
    "Ahsan Barkati":
      mail: ahsanb@iitk.ac.in
      github: ahsanbarkati
      image: ahsan.jpg
      linkedin: ahsanbarkati
      insta_id:
      body: |
        Software Engineer at Google since 2022.
        Software Engineering Consultant SigNoz in spring 2022.
        Dgraph Labs Distributed Systems Engineer for 2 years.
        Completed GSOC in 2019 and 2020 under FreeBSD.
    "Anant Prakash":
      mail: anantp@iitk.ac.in
      github: apwhitehat
      image: anant.jpg
      linkedin: apwhitehat
      insta_id:
      body: |
        Software Engineer at Tesla.
        Research Assistant at CMU 2022-23.
        Software Engineer Intern Google in summer 2023.
        Previously worked at Rubrik, Dunzo, Tower Research, Matrix.
    "Ayush Bansal":
      mail: ayushb@iitk.ac.in
      github: ayush268
      image: ayush.jpg
      linkedin: ayush268
      insta_id:
      body: |
        Co-founder & CTO at NimbleEdge 2021-24.
        Core Developer at OpenMined 2021-22.
        Low Latency Software Developer at Tower Research 2020-21.
  "2017 - 18":
    "Arjun Sinha":
      mail: arjuns@iitk.ac.in
      github: ajs97
      image: arjun.jpg
      linkedin: arjun-sinha-9346b610b
      insta_id:
      body: |
        Software Engineer at Rubrik, Inc for 5+ years.
        Interned at Tower Research summer 2018.
        ACM ICPC World Finalist.
    "Milind Luthra":
      mail: milindl@iitk.ac.in
      github: milindl
      image: milind.jpg
      linkedin: milind-luthra
      insta_id:
      body: |
        Senior Software Engineer at Confluent for 2+ years.
        Member Of Technical Staff 3 at Cohesity 2021-22.
        Systems Engineer at Quadeye 2019-21.

    "Varun Khare":
      mail: varun@iitk.ac.in
      github: varunkhare1234
      image: varun.png
      linkedin: vkkhare
      insta_id:
      body: |
        Founder/CEO at NimbleEdge.
        Federated Learning Lead / Core Developer at OpenMined for 2 years.
        Research Scholar at Berkeley 2020, Max planck Institute 2019-20, NUS 2018.

    "Yash Srivastav":
      mail: yashsriv@iitk.ac.in
      github: yashsriv
      image: yash.jpg
      linkedin: yashsriv
      insta_id:
      body: |
        Software Engineer at Meta for 5+ years.
        Research Intern at New York University in Summer 2018.
        Completed GSoC under Linux Foundation in 2017.
  "2016 - 17":
    "Kunal Kapila":
      mail: kunalapila@gmail.com
      github: kunalapila
      image: kunal.jpg
      linkedin: kunalkapila
      insta_id:
      body: |
        Technical Lead &#124; Senior Software Developer 
        at Tower Research Capital 5+ years.
        Interned at Tower Research in Summer 2017.
        Chairperson, Students&#39; Senate 2017-18.
    "Pallav Agarwal":
      mail: pallavagarwal07@gmail.com
      github: pallavagarwal07
      image: pallav.jpg
      linkedin: pallavagarwal07
      insta_id:
      body: |
        Engineering Lead at Even Healthcare 3+ years.
        Software Engineer Google,India in 2018-21.
        Interned at Google, NYC in Summer 2017. Successfully
        completed GSoC in 2016 under the Gentoo Foundation.
    "Saksham Sharma":
      mail: saksham0808@gmail.com
      github: sakshamsharma
      image: saksham.jpg
      linkedin: saksham-sharma
      insta_id:
      body: |
        Director, Quantitative Research Technology
        at Tower Research Capital, NYC for 6+ years.
        Interned at Google in Summer 2017.
        Research Fellow at Max Planck Institute for Software Systems.
    "Vinayak Tantia":
      mail: tantia.vinayak1@gmail.com
      github: vtantia
      image: vinayak.jpg
      linkedin: vinayaktantia
      insta_id:
      body: |
        Facebook AI Research (Reality Labs) 2018-22.
        Visiting Researcher MILA 2018.
        Software Engineer Google 2017.
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    line-height: 1.15;
  }

  body {
    font-family: "lato", sans-serif;
    color: #ffffff;
    font-weight: 300;
  }

  a {
    color: #ffffff;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
  }

  a:hover,
  a:focus {
    outline: none;
    text-decoration: none;
  }

  p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #bdb7b7;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #bdb7b7;
    font-weight: 700;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-weight: 700;
    color: #ffffff;
  }

  img {
    width: 100%;
    height: auto;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
  }

  .section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #858383;
    margin: 0 0 5px;
    position: relative;
  }

  .section-title h1::before {
    content: "";
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background: linear-gradient(90deg, #e7553c, #3b1510 100%);
    bottom: -5px;
  }

  .container .section-title h1::before {
    left: 30%;
  }

  .row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .team {
    margin-bottom: 30px;
  }

  .team .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
  }

  .team .team-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;       
  border-radius: 100%;
  border: 20px solid #26293a;
}

  .team .team-content {
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #26293a;
    border-radius: 10px;
  }

  .team .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .team .team-content h3 {
    font-size: 16px;
    font-weight: 300;
  }

  .team .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 0;
  }

  .team .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  .team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: -80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(82, 45, 45, 0.6);
    transition: all 0.3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
  }

  .team:hover .team-social {
    opacity: 1;
  }

  .team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s;
    margin-top: 50px;
  }

  .team .team-social a.social-tw {
    background: #00acee;
  }

  .team .team-social a.social-fb {
    background: #3b5998;
  }

  .team .team-social a.social-li {
    background: #0e76a8;
  }

  .team .team-social a.social-in {
    background: #3f729b;
  }

  .team .team-social a.social-ml {
    background: #c4302b;
  }

  .team .team-social a:last-child {
    margin-right: 0;
  }

  .team:hover .team-social a {
    margin-top: 0;
  }

  .team .team-social a:hover {
    background: #222222;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }

    .column {
      max-width: 50%;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }

    .column {
      max-width: 33.333333%;
    }

    .team .team-social {
      top: -30px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }

    .column {
      max-width: 50%;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
 

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}


.secyTable {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  padding-bottom: 10px;
}

.secyTable tr {
  transition: all 0.5s ease;
}


.secyTable tr:hover {
  background-color: #26293a;
  transform: scale(1.05);
}


.secyTable tr:nth-child(even) {
  background-color: #2f4f4f;
}


.secyRow {
  display: table-cell;
  padding: 8px;
  text-align: center;
}


.secyRow b {
  color: #33dddd;
}


@media screen and (max-width: 600px) {
  .secyTable tr:hover {
    transform: none;
  }
}

  .social-media-logo {
    margin-bottom: 10px !important;
  }
  
</style>

{% comment %} Current coordies {% endcomment %}

<div class="container">
  <div class="section-title">
    <h1>Current Coordinators</h1>
  </div>

  <div class="row1">
    {% for coordie in page.coordies %}
    <div class="column">
      <div class="team">
        <div class="team-img">
          <img
            data-src="/images/{{coordie[1].image}}"
            alt="Team Image"
            class="blur-up lazyload" 
          />
        </div>
        <div class="team-content">
          <h2>{{coordie[0]}}</h2>
          <h3>{{coordie[1].number}}</h3>
          <h4>{{coordie[1].mail}}</h4>
        </div>
        <div class="team-social">
          <a
            href="https://github.com/{{ coordie[1].github }}"
            target="_blank"
            class="social-tw"
          >
            <i
              class="fa fa-github"
              style="font-size: 24px; margin-bottom: 0px"
            ></i>
          </a>
          <a
            href="https://www.linkedin.com/in/{{ coordie[1].linkedin }}/"
            target="_blank"
            class="social-li"
          >
            <i
              class="fa fa-linkedin"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
          <a
            href="https://www.instagram.com/{{ coordie[1].insta_id }}/"
            target="_blank"
            class="social-in"
          >
            <i
              class="fa fa-instagram"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
          <a href="mailto:{{ coordie[1].mail }}"  class="social-ml">
            <i
              class="fa fa-envelope"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="section-title">
    <h1>Current LSTMs</h1>
  </div>

  <div class="row1">
    {% for LSTM in page.LSTMs %}
    <div class="column">
      <div class="team">
        <div class="team-img">
          <img
            data-src="/images/{{ LSTM[1].image }}"
            alt="Team Image"
            class="blur-up lazyload"
          />
        </div>
        <div class="team-content">
          <h2>{{ LSTM[0] }}</h2>
          <h3>{{ LSTM[1].number }}</h3>
          <h4>{{ LSTM[1].mail }}</h4>
        </div>
        <div class="team-social">
          <a
            href="https://github.com/{{ LSTM[1].github }}"
            target="_blank"
            class="social-tw"
          >
            <i
              class="fa fa-github"
              style="font-size: 24px; margin-bottom: 0px"
            ></i>
          </a>
          <a
            href="https://www.linkedin.com/in/{{ LSTM[1].linkedin }}/"
            target="_blank"
            class="social-li"
          >
            <i
              class="fa fa-linkedin"
              style="font-size: 24px; margin-bottom: 0px"
            ></i>
          </a>
          <a
            href="https://www.instagram.com/{{ LSTM[1].insta_id }}/"
            target="_blank"
            class="social-in"
          >
            <i
              class="fa fa-instagram"
              style="font-size: 24px; margin-bottom: 0px"
            ></i>
          </a>
          <a href="mailto:{{ LSTM[1].mail }}" class="social-ml">
            <i
              class="fa fa-envelope"
              style="font-size: 24px; margin-bottom: 0px"
            ></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% comment %} current secys {% endcomment %}

<div class="container">
  <div class="section-title">
    <h1>Current Secretaries</h1>
  </div>
<div class="table-wrapper">
  <table class="secyTable" cellpadding="5">
    <tr>
      <th>Name</th>
      <th>Hall</th>
      <th>Email-ID</th>
      <th>Mobile No.</th>
      <th>GitHub</th>
      <th>Instagram</th>
    </tr>
    {% for secy in page.secys %}
    <tr>
      <td class="secyRow" align="center">{{ secy[0] }}</td>
      <td class="secyRow" align="center">{{ secy[1].hall }}</td>
      <td class="secyRow" align="center">
        <a href="mailto:{{secy[1].mail}}"> {{ secy[1].mail }} </a>
      </td>
      <td class="secyRow" align="center">{{ secy[1].number }}</td>
      <td>
        <a href="https://github.com/{{ secy[1].github }}" target="_blank"
          >{{ secy[1].github }}
        </a>
      </td>
      <td>
        <a
          href="https://www.instagram.com/{{ secy[1].insta_id }}/"
          target="_blank"
          >{{ secy[1].insta_id }}</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
</div>

{% comment %} ex-coordis {% endcomment %} {% for year in page.excoordies %}
<div class="container">
  <div class="section-title">
    <h1>{{year[0]}} Coordinators</h1>
  </div>

  <div class="row1">
    {% for coordie in year[1] %}
    <div class="column">
      <div class="team">
        <div class="team-img">
          <img
            data-src="/images/{{coordie[1].image}}"
            alt="Team Image"
            class="blur-up lazyload"
          />
        </div>
        <div class="team-content">
          <h2>{{coordie[0]}}</h2>
          <h3>{{coordie[1].mail}}</h3>
          <p>{{coordie[1].body}}</p>
          <h4>{{coordie[1].github}}</h4>
        </div>
        <div class="team-social">
          <a
            href="https://github.com/{{ coordie[1].github }}"
            target="_blank"
            class="social-tw"
          >
            <i
              class="fa fa-github"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
          <a
            href="https://www.linkedin.com/in/{{ coordie[1].linkedin }}/"
            target="_blank"
            class="social-li"
          >
            <i
              class="fa fa-linkedin"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
          <a
            href="https://www.instagram.com/{{ coordie[1].insta_id }}/"
            target="_blank"
            class="social-in"
          >
            <i
              class="fa fa-instagram"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
          <a href="mailto:{{ coordie[1].mail }}" class="social-ml">
            <i
              class="fa fa-envelope"
              style="font-size: 24px; margin-bottom: 0px"
            ></i
          ></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
