---
layout: page
title: Contact Us
permalink: /contact/
image:
coordies:
    'Burhanuddin Merchant ':
        number: 8815992866
        mail: bmerchant22@iitk.ac.in
        insta_id: merchant_burhanuddin53
        github: bmerchant22
        image: pclublogo.png
        fb:

    'Divyansh Garg':
        number: 9818970175
        mail: divyanshg22@iitk.ac.in
        insta_id: _divyansh._.garg
        github: hash-brow
        image: pclublogo.png
        fb:

    'Hardik Jindal ':
        number: 9582890169
        mail: hardikj22@iitk.ac.in
        insta_id: hardikj_1408
        github: hardik1408
        image: pclublogo.png
        fb:

    'Yash Pratap Singh':
        number: 7007519537
        mail: yashps22@iitk.ac.in
        insta_id: yps_8181
        github: its-me-yps
        image: pclublogo.png
        fb:

secys:
    'Aarush Singh Kushwaha':
        hall: 12
        mail: aarushsk23@iitk.ac.in
        number: 9643216563
        insta_id: _aarush.01_
        github: aasiku

    'Aayush Anand':
        hall: 3
        mail: aayusha23@iitk.ac.in
        number: 8851070814
        insta_id: aayush.anandx
        github: aayush01x

    'Abhimanyu Solanki':
        hall: 2
        mail: abhimanyus23@iitk.ac.in
        number: 8218196261
        insta_id: abhimanyu_4841
        github: Abhimanyu-dev

    'Akshat':
        hall: 3
        mail: akshat23@iitk.ac.in
        number: 9389733410
        insta_id: akshat_knpr
        github: AkshatGupta15

    'Anirudh Singh ':
        hall: 2
        mail: sanirudh23@iitk.ac.in
        number: 6397561276
        insta_id: basalt_802
        github: anirudh802

    'Arnav Gupta':
        hall: 2
        mail: arnavgupta23@iitk.ac.in
        number: 8861819612
        insta_id: arnav_gupta114
        github: arnavg11

    'Aryan Mahesh Gupta':
        hall: 2
        mail: aryanmg23@iitk.ac.in
        number: 8376860515
        insta_id: aryan_fidget_445
        github: fidgetaryan445

    'Dweep Joshipura':
        hall: 5
        mail: dweepj23@iitk.ac.in
        number: 9353494288
        insta_id: dweepj_05
        github: djthegr8

    'Harshit Jaiswal ':
        hall: 12
        mail: harshitj23@iitk.ac.in
        number: 9793740831
        insta_id: justharshitj
        github: HARSHITJAIS14

    'Harshit Tomar':
        hall: 5
        mail: harshitt23@iitk.ac.in
        number: 9891341130
        insta_id: code.imperfect
        github: code-IM-perfect

    'Himanshu Sharma':
        hall: 12
        mail: himans23@iitk.ac.in
        number: 9999633455
        insta_id: sh_hi.man.shu
        github: blakktyger

    'Himesh Singh':
        hall: 12
        mail: himeshps23@iitk.ac.in
        number: 9335099260
        insta_id: h_semi_h
        github: himeshps 

    'Karan Keer':
        hall: 12
        mail: karank23@iitk.ac.in
        number: 9358152408
        insta_id: kk.karan05
        github: karankk-05

    'Khushi Ranawat ':
        hall: 6
        mail: rkhushi23@iitk.ac.in
        number: 9784241637
        insta_id: ranawat_k456
        github: khushi-2653

    'Kshitij Gupta':
        hall: 5
        mail: kshitijg23@iitk.ac.in
        number: 9897605316
        insta_id: kshitij._.gupta._
        github: Kshitijg18

    'Manas Jain Kuniya':
        hall: 5
        mail: manasjain23@iitk.ac.in
        number: 8003354169
        insta_id: this_is_mjk
        github: this-is-mjk

    'Medha Agarwal ':
        hall: 6
        mail: medhaagar23@iitk.ac.in
        number: 8924885144
        insta_id: medha09
        github: medhaa09

    'Om Gupta':
        hall: 5
        mail: omgupta23@iitk.ac.in
        number: 8601609937
        insta_id: om__gupta___
        github: omgupta-iitk

    'Ravi Arora':
        hall: 12
        mail: raviarora23@iitk.ac.in
        number: 9148692491
        insta_id: arora_ravi_1209
        github: PhantomzBack

    'Rishi Divya Kirti':
        hall: 2
        mail: rishid23@iitk.ac.in
        number: 9153938374
        insta_id: rdksupe
        github: rdksupe

    'Rohit Somani':
        hall: 5
        mail: rohitvs23@iitk.ac.in
        number: 9028920661
        insta_id: _rohit_somani
        github: rohitsomani

    'Saksham Agarwal':
        hall: 5
        mail: sakshamag23@iitk.ac.in
        number: 9118052439
        insta_id: saksham.agarwal22
        github: code-timely

    'Suyash Kumar':
        hall: 2
        mail: ksuyash23@iitk.ac.in
        number: 9807199316
        insta_id: safebet5705
        github: Safe-bet

    'Tattwa Shiwani':
        hall: 3
        mail: tattwash23@iitk.ac.in
        number: 9887837333
        insta_id: tattwa_235
        github: Emminence23

    'Yatharth Dangi':
        hall: 5
        mail: yatharth23@iitk.ac.in
        number: 6377153842
        insta_id: dangi.yatharth
        github: EMPEROR82


excoordies:
    '2023 - 24':
        'Devansh Jain':
            number: 9464327218
            mail: jdevansh21@iitk.ac.in
            github: devansh-jain-2002
            image: devansh.jpg
            fb:
            linkedin: devansh-jain-iitk
        'Pratham Sahu':
            number: 7619678791
            mail: spratham21@iitk.ac.in
            github: prathamsahu52
            image: pratham.jpg
            fb:
            linkedin: pratham-sahu-39500b223
        'Rahul Jha':
            number: 8700367670
            mail: rahulj21@iitk.ac.in
            github: juggernautjha
            image: jha.jpg
            fb:
            linkedin: juggernautjha
        'Ridin Datta':
            number: 7439079526
            mail: ridind21@iitk.ac.in
            github: rhydberg
            image: ridin.jpg
            fb:
            linkedin: ridin-datta-932697226

    '2022 - 23':
        'Het Patel':
            number: 9825688226
            mail: hetpatel20@iitk.ac.in
            github: wiredinhp
            image: hetp.jpg
            fb: wiredinhp
            linkedin: wiredinhp
            body: |
                Application Developer Internship at Oracle 2023.
        'Parinay Chauhan':
            number: 9264933530
            mail: parinayc20@iitk.ac.in
            github: parinayc20
            image: parinay.jpg
            fb: parinay.chauhan.1
            linkedin: parinaychauhan
            body: |
                System Engineer Internship at Quadeye 2023.
        'Prem Bharwani':
            number: 7715007558
            mail: premr20@iitk.ac.in
            github: PremBharwani
            image: prem.jpg
            fb: bharwaniprem
            linkedin: prem-bharwani
            body: |
                Natural Language Processing Engineer at Counsello AI 2023.
                Application Engineer Internship at Oracle 2023.
        'Shivam Mishra':
            number: 8604397668
            mail: mshivam20@iitk.ac.in
            github: 7shivamx
            image: shivam.jpg
            fb: 7shivamx
            linkedin: thealgosniper
            body: |
                Quantitative Research Consultant WorldQuant.
                Software Engineer Intern, Research Intern at Microsoft 2023.
                Developer at The Linux Foundation 2022-23.

                

    '2021 - 22':
        'Atharv Singh Patlan':
            mail: atharvsp@iitk.ac.in
            github: AthaSSiN
            image: atharv.jpg
            linkedin: atharvsp
            body: |
                Quantitative Researcher 2023-24.
                Research Assistant NUS 2022-23.
                Intern at D.E. Shaw summer 2022, NetherMind 2022.
        'Kartikeya Gupta':
            mail: gkartik@iitk.ac.in
            github: kartikcode
            image: kartikeya.jpg
            linkedin: kartikgupta2001
            body: |
                Graduate Mechanical Engineer at Jaguar Land Rover.
                Engineering Graduate Intern at Jaguar Land Rover 2022.
        'Naman Gupta':
            mail: namangup@iitk.ac.in
            github: namangup
            image: naman.jpg
            linkedin: namangup            
            body: |
                Quant Strategist at Quadeye.
                Quant Research Intern in summer 2022.
        'Som Tambe':
            mail: somvt@iitk.ac.in
            github: SomTambe
            image: som.jpg
            linkedin: somvt
            body: |
                MS in Industrial and Product Design at PoliMi.
                Summer of Code Intern Julia 2021.

    '2020 - 21':
        'Deepankur Kansal':
            mail: deepank@iitk.ac.in
            github: DeepankurK
            image: deepankur.jpg
            linkedin: deepankurk
            body: |
                Founder RozReturns.
                Co-Founder Azamate.
                Intern at JPMorgan 2021, WANNA 2020, PyMaths 2019.
        'Nilay Majorwar':
            mail: majorwar@iitk.ac.in
            github: NilayMajorwar
            image: nilay.jpg
            linkedin: nilay-majorwar-96135417a
            body: |
                Software Engineer at Quadeye 2+ years.
                Software Engineer Intern at Zomato 2021.
                Completed GSOC under GDevelop 2020.
        'Nirmal Suthar':
            mail: nirmalps@iitk.ac.in
            github: nirmal-suthar
            image: nirmal.jpg
            linkedin: nirmal-suthar
            body: |
                Analyst, Trading Systems at AlphaGrep 2+years.
                Software Engineer Intern at Microsoft 2021,2022.
                Data Science Intern ShareChat 2021-22.
        'Priydarshi Singh':
            mail: darshi@iitk.ac.in
            github: dryairship
            image: priydarshi.jpg
            linkedin: dryairship
            body: |
                Software Engineer at IMC Trading.
                Software Engineer at Optiver 2022-24.
                Software Engineering Intern at Foyer 2022, Amazon 2021.

    '2019 - 20':
        'Aditya Gulati':
            mail: aditg@iitk.ac.in
            github: ditttu
            image: adityagulati.jpg
            linkedin: aditya-gulati-b80a9a15b
            body: |
                Research Fellow at UCSB 2020, 2021-22.
                Security Intern at H4U 2021.
                Backend Development Intern at New York Office IITK 2018.
        'Anish Saxena':
            mail: anishs@iitk.ac.in
            github: Anish-Saxena
            image: anishsaxena.jpg
            linkedin: anish-saxena
            body: |
                Research Intern at NVIDIA 2024, AMD 2023, Micron 2022.
                PhD in CS at Georgia Tech.
                HPC GPU Advocate Intern NVIDIA in summer 2021.
                Architecture Research Intern at Intel Labs in summer 2020.
        'Kushagra Gupta':
            mail: kushgpt@iitk.ac.in
            github: kushagragpt99 
            image: kushagragupta.jpg
            linkedin: kushagragupta99
            body: |
                Machine Learning Engineer at Cadence.
                Data Scientist Nissan 2022-23.
                Data Scientist Internship at Google in Summer 2022.
                Data Science Researcher World Bank 2021-22.
        'Yugesh Kothari':
            mail: yugeshk@iitk.ac.in
            github: yugeshk 
            image: yugeshkothari.jpg
            linkedin: yugeshkothari
            body: |
                Doctoral Student at EPFL, Switzerland.
                Founding Member Stealth AI. Self Employed.
                Lead Technical Consultant at PeakMind 2021-23.

    '2018 - 19':
        'Ahsan Barkati':
            mail: ahsanb@iitk.ac.in
            github: ahsanbarkati
            image: ahsan.jpg
            linkedin: ahsanbarkati
            body: |
                Software Engineer at Google since 2022.
                Software Engineering Consultant SigNoz in spring 2022.
                Dgraph Labs Distributed Systems Engineer for 2 years.
                Completed GSOC in 2019 and 2020 under FreeBSD.
        'Anant Prakash':
            mail: anantp@iitk.ac.in
            github: apwhitehat
            image: anant.jpg
            linkedin: apwhitehat
            body: |
                Software Engineer at Tesla.
                Research Assistant at CMU 2022-23.
                Software Engineer Intern Google in summer 2023.
                Previously worked at Rubrik, Dunzo, Tower Research, Matrix.
        'Ayush Bansal':
            mail: ayushb@iitk.ac.in
            github: ayush268
            image: ayush.jpg
            linkedin: ayush268
            body: |
                Co-founder & CTO at NimbleEdge 2021-24.
                Core Developer at OpenMined 2021-22.
                Low Latency Software Developer at Tower Research 2020-21.
    '2017 - 18':
        'Arjun Sinha':
            mail: arjuns@iitk.ac.in
            github: ajs97
            image: arjun.jpg
            linkedin: arjun-sinha-9346b610b
            body: |
                Software Engineer at Rubrik, Inc for 5+ years.
                Interned at Tower Research summer 2018.
                ACM ICPC World Finalist. 
        'Milind Luthra':
            mail: milindl@iitk.ac.in
            github: milindl
            image: milind.jpg
            linkedin: milind-luthra
            body: |
                Senior Software Engineer at Confluent for 2+ years.
                Member Of Technical Staff 3 at Cohesity 2021-22.
                Systems Engineer at Quadeye 2019-21.
                                                                
        'Varun Khare':
            mail: varun@iitk.ac.in
            github: varunkhare1234
            image: varun.png
            linkedin: vkkhare
            body: |
                Founder/CEO at NimbleEdge.
                Federated Learning Lead / Core Developer at OpenMined for 2 years.
                Research Scholar at Berkeley 2020, Max planck Institute 2019-20, NUS 2018.
                                                                                    
        'Yash Srivastav':
            mail: yashsriv@iitk.ac.in
            github: yashsriv
            image: yash.jpg
            linkedin: yashsriv
            body: |
                Software Engineer at Meta for 5+ years.
                Research Intern at New York University in Summer 2018.
                Completed GSoC under Linux Foundation in 2017.
    '2016 - 17':
        'Kunal Kapila':
            mail: kunalapila@gmail.com
            github: kunalapila
            image: kunal.jpg
            linkedin: kunalkapila
            body: |
                Technical Lead &#124; Senior Software Developer 
                at Tower Research Capital 5+ years.
                Interned at Tower Research in Summer 2017.
                Chairperson, Students&#39; Senate 2017-18.
        'Pallav Agarwal':
            mail: pallavagarwal07@gmail.com
            github: pallavagarwal07
            image: pallav.jpg
            linkedin: pallavagarwal07
            body: |
                Engineering Lead at Even Healthcare 3+ years.
                Software Engineer Google,India in 2018-21.
                Interned at Google, NYC in Summer 2017. Successfully
                completed GSoC in 2016 under the Gentoo Foundation.
        'Saksham Sharma':
            mail: saksham0808@gmail.com
            github: sakshamsharma
            image: saksham.jpg
            linkedin: saksham-sharma
            body: |
                Director, Quantitative Research Technology
                at Tower Research Capital, NYC for 6+ years.
                Interned at Google in Summer 2017.
                Research Fellow at Max Planck Institute for Software Systems.
        'Vinayak Tantia':
            mail: tantia.vinayak1@gmail.com
            github: vtantia
            image: vinayak.jpg
            linkedin: vinayaktantia
            body: |
                Facebook AI Research (Reality Labs) 2018-22.
                Visiting Researcher MILA 2018.
                Software Engineer Google 2017.
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: 'lato', sans-serif;
    color: #ffffff;
    font-weight: 300;
}

a {
    color: #ffffff;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #bdb7b7;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #bdb7b7;
    font-weight: 700;
}

h1 {
    font-size: 35px;
}

h2 {
    font-weight: 700;
    color: #ffffff;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #858383;
    margin: 0 0 5px;
    position: relative;
}

.section-title h1::before {
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background: linear-gradient(90deg, #e7553c, #3b1510 100%);
    bottom: -5px;
}

.container .section-title h1::before {
    left: 30%;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.team {
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
}

.team .team-img img {
    width: 200px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #26293a;
}

.team .team-content {
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #26293a;
    border-radius: 10px;
}

.team .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 0;
}

.team .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: -80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(82, 45, 45, 0.6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.team:hover .team-social {
    opacity: 1;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}

.team .team-social a.social-tw {
    background: #00acee;
}

.team .team-social a.social-fb {
    background: #3b5998;
}

.team .team-social a.social-li {
    background: #0e76a8;
}

.team .team-social a.social-in {
    background: #3f729b;
}

.team .team-social a.social-ml {
    background: #c4302b;
}

.team .team-social a:last-child {
    margin-right: 0;
}

.team:hover .team-social a {
    margin-top: 0;
}

.team .team-social a:hover {
    background: #222222;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .column {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .column {
        max-width: 33.333333%;
    }

    .team .team-social {
        top: -30px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .column {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.secyTable {
     width: 100%;
 }

.secyTable tr {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.secyTable tr:hover {
  background-color: #26293a;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}

.secyRow {
  display:table-cell;
}
.secyRow b {
  color: #33dddd;
}
.secyTable tr:nth-child(even) {
  background-color: #2F4F4F;
}

.social-media-logo {
  margin-bottom: 10px !important;
}
</style>

{% comment %}
Current coordies
{% endcomment %}

<div class="container">
  <div class="section-title">
      <h1>Current Coordinators</h1>
  </div>

      <div class="row1">

        {% for coordie in page.coordies %}
        <div class="column">
            <div class="team">
                <div class="team-img">
                    <img data-src="/images/{{coordie[1].image}}" alt="Team Image" class="blur-up lazyload">
                </div>
                <div class="team-content">
                    <h2>{{coordie[0]}}</h2>
                    <h3>{{coordie[1].number}}</h3>
                    <h4>{{coordie[1].mail}}</h4>
                </div>
                <div class="team-social">
                    <a href="https://github.com/{{ coordie[1].github }}" class="social-tw"> <i class="fa fa-github" style="font-size: 24px; margin-bottom: 0px; "></i> </a>
                    <a href="https://facebook.com/{{ coordie[1].fb }}" class="social-fb"> <i class="fa fa-facebook" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                    <a href="#" class="social-li"> <i class="fa fa-linkedin" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                    <a href="#" class="social-in"> <i class="fa fa-instagram" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                    <a href="mailto:{{ coordie[1].mail }}" class="social-ml"> <i class="fa fa-envelope" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                </div>
            </div>
        </div>

        {% endfor %}

      </div>

</div>

{% comment %}
current secys
{% endcomment %}

<div class="container">
    <div class="section-title">
        <h1>Current Secretaries</h1>
    </div>
    <table class="secyTable" cellpadding="5">
      <tr>
        <th>Name</th>
        <th>Hall</th>
        <th>Email-ID</th>
        <th>Mobile No.</th>
        <th>GitHub</th>
        <th>Instagram</th>
        
      </tr>
      {% for secy in page.secys %}
        <tr>
          <td class="secyRow" align="center"> {{ secy[0] }}</td>
          <td class="secyRow" align="center"> {{ secy[1].hall }}</td>
          <td class="secyRow" align="center"> <a href="mailto:{{secy[1].mail}}"> {{ secy[1].mail }} </a> </td>
          <td class="secyRow" align="center"> {{ secy[1].number }}</td>
          <td> <a href="https://github.com/{{ secy[1].github }}" target="_blank">{{ secy[1].github }} </a></td>
          <td> <a href="https://www.instagram.com/{{ secy[1].insta_id }}/" target="_blank">{{ secy[1].insta_id }}</a></td>
       </tr>
      {% endfor %}
    </table>
</div>

{% comment %}
ex-coordis
{% endcomment %}

{% for year in page.excoordies %}
<div class="container">
  <div class="section-title">
      <h1>{{year[0]}} Coordinators</h1>
  </div>

  <div class="row1">

    {% for coordie in year[1] %}
      <div class="column">
          <div class="team">
              <div class="team-img">
                  <img data-src="/images/{{coordie[1].image}}" alt="Team Image" class="blur-up lazyload">
              </div>
              <div class="team-content">
                  <h2>{{coordie[0]}}</h2>
                  <h3>{{coordie[1].mail}}</h3>
                  <p>{{coordie[1].body}}</p>
                  <h4>{{coordie[1].github}}</h4>
              </div>
              <div class="team-social">
                <a href="https://github.com/{{ coordie[1].github }}" class="social-tw"> <i class="fa fa-github" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                <a href="https://facebook.com/{{ coordie[1].fb }}" class="social-fb"> <i class="fa fa-facebook" style="font-size: 24px; margin-bottom: 0px; "></i></i></a>
                <a href="https://www.linkedin.com/in/{{ coordie[1].linkedin }}/" class="social-li"> <i class="fa fa-linkedin" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                <a href="#" class="social-in"> <i class="fa fa-instagram" style="font-size: 24px; margin-bottom: 0px; "></i></a>
                <a href="mailto:{{ coordie[1].mail }}" class="social-ml"> <i class="fa fa-envelope" style="font-size: 24px; margin-bottom: 0px; "></i></a>
              </div>
          </div>
      </div>
    {% endfor %} 

   </div>

</div>
{% endfor %}

